<md-card ng-controller='ProfileCtrl as ctrl'>
  <md-card-content>
    <table class="md-padding">
    	<tr>
    		<td class="md-padding imgBackground">
  				<img ng-src="{{face}}" class="md-avatar avatar" alt="{{name}}" />
  			</td>
  			<td class="md-padding">
  				<md-input-container>
				  <label>Name</label>
				  <input ng-model="name">
				</md-input-container>
  				<md-input-container>
				  <label>Role</label>
				  <input ng-model="role" readonly>
				</md-input-container>
  				<md-input-container>
				  <label>Email</label>
				  <input ng-model="email" readonly>
				</md-input-container>
  			</td>
  		</tr>
  	</table>
  	<md-divider ></md-divider>
	<md-toolbar class="md-primary">
		<h2>Skills</h2>
	</md-toolbar>
	<div ng-repeat="skill in skills | orderBy:'-rank'">
		<md-button class="md-raised md-primary" ng-click="ctrl.endorseSkill(skill)">
			<strong>{{skill.rank}}</strong> | {{skill.name}}
		</md-button>
	</div>
	<!--
	<md-chips ng-model="skills" md-on-append="ctrl.newSkill($chip);">
		<md-chip-template>
			<span>
			<strong>{{$chip.rank}}</strong> | {{$chip.name}}
			</span>
		</md-chip-template>
	</md-chips>
	-->
  </md-list-item>
  </md-card-content>
  <div class="md-actions" layout="row" layout-align="end center">
    <md-button class="md-primary">Edit</md-button>
  </div>
</md-card>