<md-card>
  <md-card-content>
    <table class="md-padding">
    	<tr>
    		<td class="md-padding">
  				<img ng-src="{{face}}" class="md-avatar avatar" alt="{{name}}" />
  			</td>
  			<td class="md-padding">
  				<h1>{{name}}</h1>
  				<h2>{{role}}</h2>
  			</td>
  		</tr>
  	</table>
  	<md-divider ></md-divider>
  	<h2>Skills</h2>
  	<md-chips ng-model="skills | orderBy:'-rank'">
		<md-chip-template>
			<span>
			  <strong>{{$chip.rank}}</strong> | {{$chip.name}}
			</span>
		</md-chip-template>
  	</md-chips>
  </md-list-item>
  </md-card-content>
  <div class="md-actions" layout="row" layout-align="end center">
    <md-button class="md-primary">Edit</md-button>
  </div>
</md-card>