<div style="width: 100%" flex>
	<div layout="row">
		<p style="position: absolute; right: 0">
			<md-button class="md-raised md-primary">Sign Up As New Piranha</md-button>
		</p>
	</div>
	<div layout="row">
		<div flex style="width: 100%">
			<center><img src="img/piranha.png"  style="margin-left: auto; margin-right: auto; padding-top: 1.1em"></center>
			<center><h1 class="LogoTitle">Piranha</h1></center>
		</div>
	</div>
	<div layout="row">
		<div  style="width: 100%">
			<form action="profile" method="POST" style="">
				<table style="margin: auto;">
					<tr>
						<td><label>Email: </label></td><td> <input type="email"></td>
					</tr>
					<tr>
						<td><label>Password: </label></td><td><input type="password"></td>
					</tr>
					<tr>
						<td colspan="2"><md-button style="float: right;" class="md-raised md-primary">submit</md-button></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>