<div>
  <md-content ng-controller="skillSearchResultCtrl as skillResultCtrl">
    <md-list ng-model="skillSearchResult">
      <md-subheader class="md-no-sticky"><h2 class="searchResultTitle" style="padding:0 20px">People with the skill of {{searchPhrase}}:</h2></md-subheader>
	   <div class="separator"></div>
	  <div ng-repeat="item in skillSearchResult">
		  <md-list-item class="md-3-line" ng-click="skillResultCtrl.toProfile(item.id)">
			<img src="{{item.avatar}}" class="md-avatar" style="margin-left: 20px" />
			<div class="md-list-item-text">
			  <h3 style="padding:0 25px;font-weight:bold">{{ item.name }}</h2>
			  <h4 style="padding:0 25px">{{ item.role }}</h4>
			  <div style="display:flex">
				<md-button class="md-raised" ng-repeat="skill in item.skills" style="padding: 2px 20px;">{{skill.name}}</md-button>
			  </div>
			</div>
		  </md-list-item>
      <div class="separator"></div>
	  </div>
    </md-list>
  </md-content>
</div>